extends /layout/_default-layout

append config-block
  - pageId = 'index'

block content-block
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    .mdl-layout__header
      .mdl-layout__header-row
        span.mdl-layout-title コトダマ可視化デモ
    .mdl-layout__drawer
      .mdl-layout-title
        | メニュー
      nav.mdl-navigation
        a.mdl-navigation__link(href='./')
          i.material-icons
            | mic
          | マイク入力
        a.mdl-navigation__link(href='./?audio=vivaldi-spring')
          | ヴィヴァルディ 四季より『春』
        a.mdl-navigation__link(href='./?audio=chopin-nocturnes')
          | ショパン『夜想曲第二番』
        a.mdl-navigation__link(href='./?audio=satie-je-te-veux')
          | サティ『Je te veux』

    main.mdl-layout__content
      .page-content
        audio(data-js-output, autoplay)
        canvas.stage(data-js-canvas, width="256", height="256")
        video(data-js-stage, width="256", height="256", autoplay, controls)
      .cover(data-js-btn-play)
        .icon-play.material-icons
          | play_arrow
