.page-content {
  position: fixed;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.stage {
  position: fixed;

  left: 0;
  top: 0;

  visibility: hidden;
}

.cover {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 5;

  cursor: pointer;

  .icon-play {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;

    font-size: 100px;

    color: red;
  }
}

.console {
  position: fixed;

  left: px(0);
  top: px(65);

  font-size: px(15);
}

// .point-wrapper {
//   position: fixed;

//   left: px(0);
//   top: px(65);
// }

// .point {
//   position: absolute;

//   left: px(-3);
//   top: px(-3);

//   width: px(6);
//   height: px(6);

//   border-radius: px(6);

//   background-color: red;
// }