extends /_layout/_default-layout

append config-block
  - pageId = 'index'

block content-block
  header
    h1
      | Index Page

  main
    audio#audio(autoplay)
    audio.output(autoplay)
    svg.stage(data-js-stage, xmlns="http://www.w3.org/2000/svg", width="256", height="256")
