extends /_layout/_default-layout

append config-block
  - pageId = 'index'

block content-block
  header
    h1
      | Index Page

  main
    audio.output(autoplay)
    canvas.stage(data-js-stage, width="256", height="256")

    .btn-play
      button(data-js-btn-play)
        | ▶️
